@page "/"
@using CarRentalVG.Business;
@using CarRentalVG.Common.Enums;
@inject BookingManager bm;

<PageTitle>Index</PageTitle>

@if(bm.error != string.Empty)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <p>@bm.error</p>
    </div>
}

<div class="mt-5"><h3>Vehicles</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table border border-info table-bordered">
    <thead class="table-info">
            <tr>
                <th>RegNo</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost Km</th>
                <th>Vehicle Type</th>
                <th>$ Day</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody text="Vehicles">
        <tr>
                <td><input disabled="@bm._waitForFinish" type="text" @bind="bm._regno" size="10" placeholder="RegNo"/></td>
                <td><input type="text" disabled="@bm._waitForFinish" @bind="bm._make" size="10" placeholder="Make" /></td>
                <td><input type="number" disabled="@bm._waitForFinish" @bind="bm._odom" size="10" onfocus="this.value=''" /></td>
                <td><input type="number" disabled="@bm._waitForFinish" step="0.1" @bind="bm._costkm" size="10" onfocus="this.value=''" /></td>
            <td>
                <select disabled="@bm._waitForFinish" @bind="@bm._vehicletype" class="form-select-sm">
                    @foreach(var vt in Enum.GetValues(typeof(VehicleTypes)))
                    {
                        <option value="@vt">@vt.ToString()</option>
                    }
                </select>
            </td>
                <td><input disabled="@bm._waitForFinish" type="number" @bind="bm._costday" onfocus="this.value=''" style="width: 40px;" /></td>
                <td><button disabled="@bm._waitForFinish" class="btn btn-outline-success btn-sm" @onclick="@(() => bm.AddVehicle(bm._make, bm._regno, bm._odom, bm._costkm, bm._rentedStatus, bm._vehicletype))">Add</button></td>
            <td>
                @if(bm._waitForFinish == true)
                {
                        <span class="badge rounded-pill bg-warning">Processing</span>
                }
            </td> 
        </tr>
            @foreach (var v in bm.GetVehicles())
            {
            <tr>
                <td>@v.RegistrationNo</td>
                <td>@v.Make</td>
                <td>@v.Odometer</td>
                <td>@v.CostPerKm</td>
                <td>@v.VehicleType</td>
                <td>@v.CostPerDay</td>
                @if(v.RentedStatus==Common.Enums.RentedStatus.Rented)
                {
                    <td>
                        <input onfocus="this.value=''" disabled="@bm._waitForFinish" type="number" @bind="bm._kmreturned" style="width: 40px;" />
                        <button disabled="@bm._waitForFinish" class="btn btn-outline-success btn-sm">Return</button>
                    </td>
                }
                else
                {
                    <td>
                        <select @bind="bm._customerId" id="selectedCustId" disabled="@bm._waitForFinish" class="form-select-sm">
                            <option value=""></option>
                                @foreach(var c in bm.GetCustomers())
                                {
                                    <option value="@c.Id">@c.FirstName @c.LastName</option>
                                }
                        </select>
                            <button disabled="@bm._waitForFinish" class="btn btn-outline-danger btn-sm" @onclick=@(async () => await bm.RentVehicle(v.Id, bm._customerId))>Rent</button>
                    </td>
                }
                <td><span class="badge rounded-pill bg-@(v.RentedStatus.ToString() == "Available" ? "success" : "danger")">@v.RentedStatus</span></td>
            </tr>
            }
    </tbody>
</table>
</div>

<div class="mt-5"><h3>Bookings</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table border border-info table-bordered">
        <thead>
            <tr class="table-info">
                <th>RegNo</th>
                <th>Customer</th>
                <th>Km Rented</th>
                <th>Km Returned</th>
                <th>Rented</th>
                <th>Returned</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var b in bm.GetBookings())
            {
            <tr>
            <td>@b.RegistrationNo</td>
            <td>@b.CustomerOut(b.Customer)</td>
            <td>@b.KmRented</td>
            <td>@(b.Status.ToString() == "Closed" ? b.KmReturned : "")</td>
            <td>@b.Rented</td>
            <td>@(b.Status.ToString() == "Closed" ? b.Returned : "")</td>
            <td>@b.Cost</td>
            <td><span class="badge rounded-pill bg-@(b.Status.ToString() == "Open" ? "success" : "black")">@b.Status</span></td>
            </tr>
            } 
        </tbody>
    </table>
</div>

<div class="mt-5"><h3>Customers</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table w-50 border border-info table-bordered">
        <thead>
            <tr class="table-info">
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" size="10" @bind="bm._ssn" placeholder="SSN" onfocus="this.value=''" /></td>
                <td><input type="text" size="10" @bind="bm._lastName" placeholder="Last Name" /></td>
                <td><input type="text" size="10" @bind="bm._firstName" placeholder="First Name" /></td>
                <td><button class="btn btn-outline-success btn-sm" @onclick="@(() => bm.AddCustomers(default, (int)bm._ssn, bm._firstName, bm._lastName))">Add</button></td>
            </tr>
            @foreach (var p in bm.GetCustomers())
            {
                <tr>
                    <td>@p.SSN</td>
                    <td>@p.LastName</td>
                    <td>@p.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


