@page "/"
@using CarRentalVG.Business;
@inject BookingManager bm;

<PageTitle>Index</PageTitle>

<div class="mt-5"><h3>Vehicles</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table border border-info table-bordered">
    <thead class="table-info">
            <tr>
                <th>RegNo</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost Km</th>
                <th>Vehicle Type</th>
                <th>$ Day</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody text="Vehicles">
        <tr>
            <td><input type="text" @bind="bm._regno" size="10" /></td>
            <td><input type="text" @bind="bm._make" size="10" /></td>
            <td><input type="number" @bind="bm._odom" size="10" /></td>
            <td><input type="text" @bind="bm._costkm" size="10" /></td>
            <td>
                <select class="form-select-sm">
                    <option value="" ></option>
@*                     <option value="Sedan" @bind="bm._vehicletype">Sedan</option>
                    <option value="Combi" @bind="bm._vehicletype">Combi</option>
                    <option value="Van" @bind="bm._vehicletype">Van</option>
                    <option value="Motorcycle" @bind="bm._vehicletype">Motorcycle</option> *@
                </select>
            </td>
                <td><input type="number" @bind="bm._costday" style="width: 40px;" /></td>
                <td><button class="btn btn-outline-success btn-sm" @onclick="@(() => bm.AddVehicle(bm._make, bm._regno, bm._odom, bm._costkm, bm._rentedStatus, bm._vehicletype))">Add</button></td>
            <td></td> 
        </tr>
            @foreach (var v in bm.GetVehicles())
            {
            <tr>
                <td>@v.RegistrationNo</td>
                <td>@v.Make</td>
                <td>@v.Odometer</td>
                <td>@v.CostPerKm</td>
                <td>@v.VehicleType</td>
                <td>@v.CostPerDay</td>
                @if(v.RentedStatus==Common.Enums.RentedStatus.Rented)
                {
                    <td>
                        <input type="number" @bind="bm._kmreturned" style="width: 40px;" />
                        <button class="btn btn-outline-success btn-sm">Return</button>
                    </td>
                }
                else
                {
                    <td>
                        <select class="form-select-sm">
                        <option value=""></option>
                        @foreach(var c in bm.GetCustomers())
                        {
                            <option value="FirstName">@c.FirstName</option>
                        }
                        </select>
                        <button class="btn btn-outline-danger btn-sm">Rent</button>
                    </td>
                }
                <td><span class="badge rounded-pill bg-@(v.RentedStatus.ToString() == "Available" ? "success" : "danger")">@v.RentedStatus</span></td>
            </tr>
            }
    </tbody>
</table>
</div>

<div class="mt-5"><h3>Bookings</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table border border-info table-bordered">
        <thead>
            <tr class="table-info">
                <th>RegNo</th>
                <th>Customer</th>
                <th>Km Rented</th>
                <th>Km Returned</th>
                <th>Rented</th>
                <th>Returned</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var b in bm.GetBookings())
            {
            <tr>
            <td>@b.RegistrationNo</td>
            <td>@b.CustomerOut(b.Customer)</td>
            <td>@b.KmRented</td>
            <td>@(b.Status.ToString() == "Closed" ? b.KmReturned : "")</td>
            <td>@b.Rented</td>
            <td>@(b.Status.ToString() == "Closed" ? b.Returned : "")</td>
            <td>@b.Cost</td>
            <td><span class="badge rounded-pill bg-@(b.Status.ToString() == "Open" ? "success" : "black")">@b.Status</span></td>
            </tr>
            } 
        </tbody>
    </table>
</div>

<div class="mt-5"><h3>Customers</h3></div>
<div class="d-flex p-2 table-responsive-sm">
    <table class="table w-50 border border-info table-bordered">
        <thead>
            <tr class="table-info">
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" size="10" @bind="bm._ssn" placeholder="SSN" /></td>
                <td><input type="text" size="10" @bind="bm._lastName" placeholder="Last Name" /></td>
                <td><input type="text" size="10" @bind="bm._firstName" placeholder="First Name" /></td>
                <td><button class="btn btn-outline-success btn-sm" @onclick="@(() => bm.AddCustomers((int)bm._ssn, bm._firstName, bm._lastName))">Add</button></td>
            </tr>
            @foreach (var p in bm.GetCustomers())
            {
                <tr>
                    <td>@p.SSN</td>
                    <td>@p.LastName</td>
                    <td>@p.FirstName</td>
                    <td><button class="btn btn-outline-danger btn-sm">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


